.border-primary{
    border-color: var(--primary) !important;
}
.border-secondary{
    border-color: var(--secondary) !important;
}
.border-success{
    border-color: var(--success) !important;
}
.border-danger{
    border-color: var(--danger) !important;
}
.border-warning{
    border-color: var(--warning) !important;
}
.border-info{
    border-color: var(--info) !important;
}
.border-light{
    border-color: var(--light) !important;
}
.border-dark{
    border-color: var(--dark) !important;
}
.border-white{
    border-color: var(--white) !important;
}
.border-black{
    border-color: var(--black) !important;
}
