table{
    border-collapse:collapse;
    width: 100%;
    color: var(--black);
    text-align: center;
}
th{
    background-color: var(--red-8);
    color: var(--white);
}
tr{
    background-color: var(--white);
}
tr:hover{
    background-color: var(--dark-red);
    color: var(--white);
}

.z-table tr:nth-child(even) {background-color: var(--blue-2);}
.z-table tr:nth-child(odd) {background-color: var(--blue-3);}
.z-table tr:hover {background-color: var(--blue-4);}
th, td {
    padding: 15px;
}
