:root {
    --white: #fff;
    --black: #000;
    --red: rgb(210, 43, 43);
    /*--primary: #001253;*/
    --primary: #10558d;
    --secondary: rgba(246, 246, 246, 0.9);
    --success: #28a745;
    --danger: #820000;
    --warning: #ffc107;
    --info: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --body-bg: rgb(222, 222, 222);
    /*--border-color: #e9ecef;*/
    --border-color:#001253;
    --border-color-cyan:#74c5d8 ;
    /*--side-bar-bg: #5d0018;*/
    --side-bar-bg: #009EFF;
    --top-bar-bg: #ffffff;
    --dark-red: #740206;
    /*--top-bar-bg: #5d0018;*/
    --red-1: #f8d7da;
    --red-2: #f5c6cb;
    --red-3: #f1b0b7;
    --red-4: #ec8a93;
    --red-5: #e6656e;
    --red-6: #e03e4b;
    --red-7: #d61c21;
    --red-8: #ba141a;
    --red-9: #a01316;
    --red-10: #86140d;
    --orange-1: #fff3cd;
    --orange-2: #ffe8a1;
    --orange-3: #ffd166;
    --orange-4: #ffba38;
    --orange-5: #ffa94d;
    --orange-6: #ff922b;
    --orange-7: #fd7e14;
    --orange-8: #f76707;
    --orange-9: #e8590c;
    --orange-10: #d9480f;
    --yellow-1: #fff9c2;
    --yellow-2: #fff3a5;
    --yellow-3: #ffec7d;
    --yellow-4: #ffe657;
    --yellow-5: #ffde2c;
    --yellow-6: #ffd60a;
    --yellow-7: #ffc400;
    --yellow-8: #eab308;
    --yellow-9: #d39e00;
    --yellow-10: #b08b00;
    --green-1: #d1e7dd;
    --green-2: #a9dfbf;
    --green-3: #7ed39c;
    --green-4: #52c46b;
    --green-5: #34bfa3;
    --green-6: #28a745;
    --green-7: #198038;
    --green-8: #0e5621;
    --green-9: #0c3e1a;
    --green-10: #092a0e;
    --teal-1: #cff4fc;
    --teal-2: #a6e8f3;
    --teal-3: #7bdcea;
    --teal-4: #4dcae0;
    --teal-5: #26b99a;
    --teal-6: #17a2b8;
    --teal-7: #117a8b;
    --teal-8: #0b5e61;
    --teal-9: #084144;
    --teal-10: #052d30;
    --cyan-1: #d1ecf1;
    --cyan-2: #a3d9e5;
    --cyan-3: #74c5d8;
    --cyan-4: #46b1cc;
    --cyan-5: #2b9eb3;
    --cyan-6: #17a2b8;
    --cyan-7: #117a8b;
    --cyan-8: #0b5e61;
    --cyan-9: #084144;
    --cyan-10: #052d30;
    --blue-1: #d6e4ff;
    --blue-2: #adc5ff;
    --blue-3: #83a6f9;
    --blue-4: #5987f1;
    --blue-5: #3366ff;
    --blue-6: #007bff;
    --blue-7: #0069d9;
    --blue-8: #005cbf;
    --blue-9: #004085;
    --blue-10: #002752;
    --indigo-1: #e8e9fe;
    --indigo-2: #c8cbf3;
    --indigo-3: #a8adf8;
    --indigo-4: #888df0;
    --indigo-5: #686de0;
    --indigo-6: #4953ca;
    --indigo-7: #364fc7;
    --indigo-8: #2e3a8f;
    --indigo-9: #19216c;
    --indigo-10: #151a4a;
    --purple-1: #e9e2f3;
    --purple-2: #d4c5e8;
    --purple-3: #bea9dd;
    --purple-4: #a98cd3;
    --purple-5: #9370db;
    --purple-6: #7e57c2;
    --purple-7: #673ab7;
    --purple-8: #512da8;
    --purple-9: #311b92;
    --purple-10: #24046c;
    --pink-1: #fce4ec;
    --pink-2: #f8bbd0;
    --pink-3: #f48fb1;
    --pink-4: #f06292;
    --pink-5: #ec407a;
    --pink-6: #e91e63;
    --pink-7: #d81b60;
    --pink-8: #c2185b;
    --pink-9: #ad1457;
    --pink-10: #880e4f;
    --gray-1: #f8f9fa;
    --gray-2: #e9ecef;
    --gray-3: #dee2e6;
    --gray-4: #ced4da;
    --gray-5: #adb5bd;
    --gray-6: #6c757d;
    --gray-7: #495057;
    --gray-8: #343a40;
    --gray-9: #212529;
    --gray-10: #000000;
    --transparent: transparent;
}