@font-face {
    font-family: 'OpenSans';
    src: url('./fonts/static/OpenSans/OpenSans-Medium.ttf');
    font-weight: 100;
    font-style: normal;

    font-family: 'Inter';
    src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');
    font-weight: 100;
    font-style: normal;
}