/*Primary Background*/
.bg-primary {
    background: var(--primary);
}
/*Secondary Background*/
.bg-secondary {
    background: var(--secondary);
}
.bg-black-0-3{
    background: rgba(0,0,0,0.3);
}
.bg-black-0-5{
    background: rgba(0,0,0,0.5);
}
.bg-black-0-7{
    background: rgba(0,0,0,0.7);
}
.bg-black-0-9{
    background: rgba(0,0,0,0.9);
}
.bg-white-0-3{
    background: rgba(255,255,255,0.3);
}
.bg-white-0-5{
    background: rgba(255,255,255,0.5);
}
.bg-white-0-7{
    background: rgba(255,255,255,0.7);
}
/*Success Background*/
.bg-success {
    background: var(--success);
}
/*Danger Background*/
.bg-danger {
    background: var(--danger);
}
/*Warning Background*/
.bg-warning {
    background: var(--warning);
}
/*Info Background*/
.bg-info {
    background: var(--info);
}
/*Light Background*/
.bg-light {
    background: var(--light);
}
/*Dark Background*/
.bg-dark {
    background: var(--dark);
}
/*White Background*/
.bg-white {
    background: var(--white);
}
/*Black Background*/
.bg-black {
    background: var(--black);
}

/*Red-1 Background*/
.bg-red-1 {
    background: var(--red-1);
}
/*Red-2 Background*/
.bg-red-2 {
    background: var(--red-2);
}
/*Red-3 Background*/
.bg-red-3 {
    background: var(--red-3);
}
/*Red-4 Background*/
.bg-red-4 {
    background: var(--red-4);
}
/*Red-5 Background*/
.bg-red-5 {
    background: var(--red-5);
}
/*Red-6 Background*/
.bg-red-6 {
    background: var(--red-6);
}
/*Red-7 Background*/
.bg-red-7 {
    background: var(--red-7);
}
/*Red-8 Background*/
.bg-red-8 {
    background: var(--red-8);
}
/*Red-9 Background*/
.bg-red-9 {
    background: var(--red-9);
}
/*Red-10 Background*/
.bg-red-10 {
    background: var(--red-10);
}
/* Blue-1 Background */
.bg-blue-1 {
    background: var(--blue-1);
}
/* Blue-2 Background */
.bg-blue-2 {
    background: var(--blue-2);
}
/* Blue-3 Background */
.bg-blue-3 {
    background: var(--blue-3);
}
/* Blue-4 Background */
.bg-blue-4 {
    background: var(--blue-4);
}
/* Blue-5 Background */
.bg-blue-5 {
    background: var(--blue-5);
}
/* Blue-6 Background */
.bg-blue-6 {
    background: var(--blue-6);
}
/* Blue-7 Background */
.bg-blue-7 {
    background: var(--blue-7);
}
/* Blue-8 Background */
.bg-blue-8 {
    background: var(--blue-8);
}
/* Blue-9 Background */
.bg-blue-9 {
    background: var(--blue-9);
}
/* Blue-10 Background */
.bg-blue-10 {
    background: var(--blue-10);
}
/* Green-1 Background */
.bg-green-1 {
    background: var(--green-1);
}
/* Green-2 Background */
.bg-green-2 {
    background: var(--green-2);
}
/* Green-3 Background */
.bg-green-3 {
    background: var(--green-3);
}
/* Green-4 Background */
.bg-green-4 {
    background: var(--green-4);
}
/* Green-5 Background */
.bg-green-5 {
    background: var(--green-5);
}
/* Green-6 Background */
.bg-green-6 {
    background: var(--green-6);
}
/* Green-7 Background */
.bg-green-7 {
    background: var(--green-7);
}
/* Green-8 Background */
.bg-green-8 {
    background: var(--green-8);
}
/* Green-9 Background */
.bg-green-9 {
    background: var(--green-9);
}
/* Green-10 Background */
.bg-green-10 {
    background: var(--green-10);
}
/* Yellow-1 Background */
.bg-yellow-1 {
    background: var(--yellow-1);
}
/* Yellow-2 Background */
.bg-yellow-2 {
    background: var(--yellow-2);
}
/* Yellow-3 Background */
.bg-yellow-3 {
    background: var(--yellow-3);
}
/* Yellow-4 Background */
.bg-yellow-4 {
    background: var(--yellow-4);
}
/* Yellow-5 Background */
.bg-yellow-5 {
    background: var(--yellow-5);
}
/* Yellow-6 Background */
.bg-yellow-6 {
    background: var(--yellow-6);
}
/* Yellow-7 Background */
.bg-yellow-7 {
    background: var(--yellow-7);
}
/* Yellow-8 Background */
.bg-yellow-8 {
    background: var(--yellow-8);
}
/* Yellow-9 Background */
.bg-yellow-9 {
    background: var(--yellow-9);
}
/* Yellow-10 Background */
.bg-yellow-10 {
    background: var(--yellow-10);
}
/* Orange-1 Background */
.bg-orange-1 {
    background: var(--orange-1);
}
/* Orange-2 Background */
.bg-orange-2 {
    background: var(--orange-2);
}
/* Orange-3 Background */
.bg-orange-3 {
    background: var(--orange-3);
}
/* Orange-4 Background */
.bg-orange-4 {
    background: var(--orange-4);
}
/* Orange-5 Background */
.bg-orange-5 {
    background: var(--orange-5);
}
/* Orange-6 Background */
.bg-orange-6 {
    background: var(--orange-6);
}
/* Orange-7 Background */
.bg-orange-7 {
    background: var(--orange-7);
}
/* Orange-8 Background */
.bg-orange-8 {
    background: var(--orange-8);
}
/* Orange-9 Background */
.bg-orange-9 {
    background: var(--orange-9);
}
/* Orange-10 Background */
.bg-orange-10 {
    background: var(--orange-10);
}
/* Purple-1 Background */
.bg-purple-1 {
    background: var(--purple-1);
}
/* Purple-2 Background */
.bg-purple-2 {
    background: var(--purple-2);
}
/* Purple-3 Background */
.bg-purple-3 {
    background: var(--purple-3);
}
/* Purple-4 Background */
.bg-purple-4 {
    background: var(--purple-4);
}
/* Purple-5 Background */
.bg-purple-5 {
    background: var(--purple-5);
}
/* Purple-6 Background */
.bg-purple-6 {
    background: var(--purple-6);
}
/* Purple-7 Background */
.bg-purple-7 {
    background: var(--purple-7);
}
/* Purple-8 Background */
.bg-purple-8 {
    background: var(--purple-8);
}
/* Purple-9 Background */
.bg-purple-9 {
    background: var(--purple-9);
}
/* Purple-10 Background */
.bg-purple-10 {
    background: var(--purple-10);
}
/* Pink-1 Background */
.bg-pink-1 {
    background: var(--pink-1);
}
/* Pink-2 Background */
.bg-pink-2 {
    background: var(--pink-2);
}
/* Pink-3 Background */
.bg-pink-3 {
    background: var(--pink-3);
}
/* Pink-4 Background */
.bg-pink-4 {
    background: var(--pink-4);
}
/* Pink-5 Background */
.bg-pink-5 {
    background: var(--pink-5);
}
/* Pink-6 Background */
.bg-pink-6 {
    background: var(--pink-6);
}
/* Pink-7 Background */
.bg-pink-7 {
    background: var(--pink-7);
}
/* Pink-8 Background */
.bg-pink-8 {
    background: var(--pink-8);
}
/* Pink-9 Background */
.bg-pink-9 {
    background: var(--pink-9);
}
/* Pink-10 Background */
.bg-pink-10 {
    background: var(--pink-10);
}