.bg_about_us {
    background-image: url(/ezvote/public/img/welcome/bg.avif);
    background-size: cover;
    height: 100%;
    /* height: 500px; */
  }

  .bg_contact_us {
    background-image: url(/ezvote/public/img/welcome/bg3.jpg);
    background-size: cover;
    height: 100%;
    /* height: 500px; */
  }

  .bg_pricing {
    background-image: url(/ezvote/public/img/welcome/pricing.jpg);
    background-size: cover;
    height: 100%;
    /* height: 500px; */
  }