.bg_about_us {
    background-image: url(/ezvote/public/img/welcome/about_us.jpg);
    background-size: cover;
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 94rem;
    margin-top: 0px;

  }

  .bg_contact_us {
    background-image: url(/ezvote/public/img/welcome/bg3.jpg);
    background-size: cover;
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 94rem;
  }

  .bg_pricing {
    background-image: url(/ezvote/public/img/welcome/pricing.jpg);
    background-size: cover;
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100rem;
    filter: brightness(70%);
  }

  .bg_home {
    background-image: url(/ezvote/public/img/welcome/about.jpg);
    background-size: cover;
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 94rem;
  }

.bg_services {
  background-image: url(/ezvote/public/img/welcome/services.jpg);
  background-size: cover;
  object-fit: contain;
  min-height: 35vw;
  background-position: 10% 10%;
  background-repeat: no-repeat;
  width: 94rem;
  padding-top:-100px;
  filter: brightness(70%);
}
  
  .bg_target_users {
    background-image: url(/ezvote/public/img/welcome/target_users.jpg);
    background-size: cover;
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 94rem;
    filter: brightness(70%);
    margin-top: 30px;
  }

  .bg_imgs {
    /* background-image: url(/ezvote/public/img/welcome/pricing.jpg); */
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    filter: brightness(70%);
    /* display: block; */

    }

    /* .bg_imgs:hover{
       background-color: white;
    transition: background-color 0.5s ease;
    } */

    .bg_services {
      background-image: url(/ezvote/public/img/welcome/services.jpg);
      background-size: cover;
      height: 600px;
      background-position: center; 
      background-repeat: no-repeat; 
      width: 94rem;
      filter: brightness(70%);
      padding-top: 50px;
    }