
.title , .primary-title , secondary-title, .success-title, .danger-title, .warning-title, .info-title, .light-title, .dark-title, .white-title, .black-title{
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 1rem 0;
}
.title{
    color: var(--black);
}
.sub-title{
    font-size: var(--xl);
}
.primary-title{
    color: var(--primary);
}
.secondary-title{
    color: var(--secondary);
}
.success-title{
    color: var(--success);
}
.danger-title{
    color: var(--danger);
}
.warning-title{
    color: var(--warning);
}
.info-title{
    color: var(--info);
}
.light-title{
    color: var(--light);
}
.dark-title{
    color: var(--dark);
}
.white-title{
    color: var(--white);
}
.black-title{
    color: var(--black);
}
